head
  // Кодировка страницы
  meta(charset='UTF-8')
  // Включаем возможность адаптации для мобильных устройств
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Мета теги для мобильных устройств
  meta(name='format-detection' content='telephone=no')
  meta(name='format-detection' content='date=no')
  meta(name='format-detection' content='address=no')
  meta(name='format-detection' content='email=no')
  meta(content='notranslate' name='google')
  // Заголовок страницы
  title VG page
  // иконка заголовка
  link(rel='shortcut icon' href='img/ico.png' type='image/png')
  // Для SEO
  meta(name='keywords' content='')
  meta(name='description' content='')
  link(rel='stylesheet' href='css/style.css')

//- block content для подключения страниц
block content 
  //навигация. пока временное решение
  include blocks/nav
  // заголовок(первый блок)
  include blocks/header
  // video
  include blocks/video
  // features
  //include blocks/features    
  // technology
  //include blocks/technology
// пятый блок

// шестой блок

// седьмой блок