
section.section-header
  .container
    div
      h1 CloudBudget
      p
        | Cloud budget management for everyone.
        br
        |  Only &euro;69.95 a Month After a 7 Day Trial of
        br
        |         Up to &euro;4.99
      p
        button(onclick="alert('Your request is serviced')") Sign up