section.section-video
  .container
    .row
      .col-4
        h3 Easy to Use Cloud Budget Management Software
        p 
          | Our software is made so you can access and manage your budget and expenses 
          | online at any time from any device. It provides detailed income and expense 
          | reports with graphs so you can easilly see your spending patterns and budget at a glance. 
          | Read below to find out more.
        p
          a(href='#') Learn More
      .col-4
        iframe(width='445' height='311' src='https://www.youtube.com/embed/L2JVA7vEvEE' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
